server:
  port: 8082

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/microservices_hotelservice
    username: root
    password: system123#
    driver-class-name: com.mysql.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
  application:
    name: HOTEL-SERVICE
  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true

eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka/